<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование читателя</title>
</head>
<body>
	<header>
		<h1>
			<a href="index.html">Библиотека</a>
		</h1>
		<nav>
			<ul>
				<li><a href="/people">Читатели</a></li><!--
				--><li><a href="/books">Книги</a></li>
			</ul>
		</nav>
	</header>
	<hr>
	<section>
		<form th:method="PATCH" th:action="@{/people/{id}(id = ${person.getId()})}" th:object="${person}">
			<label for="name"> Имя: </label>
			<input type="text" th:field="*{name}" id="name"/>
			<div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
			<br>
			<label for="year"> Год рождения: </label>
			<input type="number" th:field="*{year}" id="year"/>
			<div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Age error</div>
			<input type="submit" value="Сохранить">
		</form>
	</section>
</body>
</html>