<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование книги</title>
</head>
<body>
	<header>
		<h1>
			<a href="index.html">Библиотека</a>
		</h1>
		<nav>
			<ul>
				<li><a href="/people">Читатели</a></li><!--
				--><li><a href="/books">Книги</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<form th:method="PATCH" th:action="@{/books/{id}(id = ${book.getId()})}" th:object="${book}">
			<label for="name"> Имя: </label>
			<input type="text" th:field="*{name}" id="name"/>
			<br>
			<label for="author"> Автор: </label>
			<input type="text" th:field="*{author}" id="author"/>
			<br>
			<label for="year"> Год печати: </label>
			<input type="number" th:field="*{year}" id="year"/>
			<input type="hidden" th:field="*{person_id}"/>
			<input type="submit" value="Сохранить">
		</form>
	</section>
</body>
</html>