<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>
	<header>
		<h1>
			<a href="index.html">Библиотека</a>
		</h1>
		<nav>
			<ul>
				<li><a href="/people">Читатели</a></li><!--
				--><li><a href="/books">Книги</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<table>
			<caption>Список книг</caption>
			<thead>
			<tr>
				<th scope="col" colspan="2">Название</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="book : ${books}">
				<td><span th:text="${book.getName()}"/></td>
				<td><a th:href="@{/books/{id}(id = ${book.getId()})}">------></a></td>
			</tr>
			</tbody>
		</table>
	</section>
    <a th:href="@{/books/new}">Добавить книгу</a>
</body>
</html>